<div class="page-layout carded fullwidth">

    <div class="top-bg accent"></div>
    <div class="center">

        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Asignar servicio</h2>
        </div>

        <div class="content-card">

            <div class="toolbar px-24 py-8">
                <span>Registra la infromación</span>
            </div>

            <div class="content p-24">

                <form #formDirective="ngForm" class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                    fxFlex="1 0 auto" name="form" [formGroup]="formGroup" >

                    <div class="h2 mb-24">INFORMACIÓN DEL USUARIO</div>

                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                            <mat-label>Empleado</mat-label>
                            <mat-select id="empleadoId" formControlName="empleadoId" name="empleadoId" required>
                                <mat-option *ngFor="let option of catEmpleado" value="{{option.idEmpleado}}">
                                    {{option.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                            <mat-label>Servicio</mat-label>
                            <mat-select id="servicioId" formControlName="servicioId" name="servicioId" required>
                                <mat-option *ngFor="let option of catServicio" value="{{option.idServicio}}">
                                    {{option.nombreServicio}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                            <mat-label>Área de Servicio</mat-label>
                            <mat-select id="areaServicioId" formControlName="areaServicioId" name="areaServicioId" required>
                                <mat-option *ngFor="let option of catAreaServicio" value="{{option.idArea}}">
                                    {{option.nombre}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>
                        
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="70">
                            <mat-label>Descripción / Comentario</mat-label>
                            <textarea matInput id="descripcion" formControlName="descripcion" name="descripcion"></textarea>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    </div>
                    <div class="form-row">
                        <button (click)="asignarServicio()" mat-raised-button type="submit" class="mat-focus-indicator mat-accent compose-dialog-button w-100-p mat-raised-button mat-button-base" aria-label style="border: outset rgb(1, 177, 247);">
                            Asignar Servicio </button>
                    </div>
                </form>

            </div>

        </div>

    </div>

</div>