:host {

    .content {
        justify-content: center;
        form {
            width: 100%;
            justify-content: center;
            max-width: 1200px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    width: 95%;
  }
  .mat-row:nth-child(even){
    background-color:rgb(204, 207, 209)
  }
  
  .mat-row:nth-child(odd){
    background-color:rgb(255, 255, 255)
  }
  
  .mat-row.hovered {
    background: rgb(209, 235, 247);
  }
  .mat-row.highlighted {
    background: lightblue;
    }

  .highlighted{
    background: #7ce7e7; /* green */
  }

  .encabezado{
      background-color: rgb(238, 142, 53);
  }