<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <div class="copyright">
            &copy; Copyright <strong><span>STM</span></strong>. All Rights Reserved
        </div>
        <div class="credits">       
           Designed by: Daniel Aguilar, Jose Moya
        </div>

    </div>

</mat-toolbar>
