<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="../../../../../assets/images/logos/logo.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            CREA TU CUENTA
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            STM
        </div>

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <img src="../../../../../assets/images/logos/fuse.svg">
            </div>

            <div class="title">CREACIÓN DE CUENTA</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate (ngSubmit)="registrar()" >

                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" [(ngModel)]="this.parametros.username" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Nombre Requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="email" [(ngModel)]="this.parametros.email">                    
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Correo Requerido
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        Por favor ingrese una dirección de corro valida.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password" [(ngModel)]="this.parametros.password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Contraseña requerida
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña (Confirmar)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                        Confirmación de contraseña requerida
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Las contraseñas deben coincidir
                    </mat-error>
                </mat-form-field>

                <!--<div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="Accept" required>
                        <span>Aceptar</span>
                    </mat-checkbox>
                    <a href="#">Terminos y Condiciones</a>
                </div>-->

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid"  >
                    CREAR CUENTA
                    
                </button>

                <!-- FUSE Splash Screen -->
        <fuse-splash-screen id="fuse-splash-screen" style='background-color: white;' *ngIf="this.loading">

            <div class="center">

                <div class="logo">
                    <img width="128" src="assets/images/logos/fuse.svg">
                </div>

                <div class="register" fxLayout="column" fxLayoutAlign="center center">

                    <div class="title" style='color:black;'>
                        CREANDO CUENTA ...
                </div>
                </div>

                

                <!-- Material Design Spinner -->
                <div class="spinner-wrapper">
                    <div class="spinner">
                        <div class="inner">
                            <div class="gap"></div>
                            <div class="left">
                                <div class="half-circle"></div>
                            </div>
                            <div class="right">
                                <div class="half-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Material Design Spinner -->

            </div>

        </fuse-splash-screen>

                
                
            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Ya tienes una cuenta?</span>
                <a class="link" [routerLink]="'/login'">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
